@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
  width: 0px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dedede;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #58c6d4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  .container{
    @apply tw-container lg:tw-container tw-mx-auto tw-px-4 tw-py-[50px]
  }
  body{
    color: black;
  }
  h1 {
    font-family: theme("fontFamily.ABold");
    font-size: theme("fontSize.h1-sm");
    

  }
  h2 {
    font-family: theme("fontFamily.ABold");
    font-size: theme("fontSize.h2-sm");
  }
  h3 {
    font-family: theme("fontFamily.melt");
    font-size: theme("fontSize.h3-xl");
  }

  p {
    font-family: theme("fontFamily.syne");
    font-size: theme("fontSize.body-sm");
  }
  img {
    max-height: 100%;
  }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: theme("fontSize.h1-xl");
    }
    h2 {
      font-size: theme("fontSize.h2-xl");
    }

    p {
      font-size: theme("fontSize.body-xl");
    }
  }

  /* ... */
}

@font-face {
  font-family: "syne";
  src: url("fonts/SyneMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ARegular";
  src: url("fonts/AmaticSC-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ABold";
  src: url("fonts/AmaticSC-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "melt";
  src: url("fonts/Meltdownmf-OEyd.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

/* Links */
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.nav-grad{

background: #c1ffff9d;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;

backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
}
/* Helper classes */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

html.js,
.js body {
  overflow: hidden;
  height: 100vh;
}

/* Pages nav */

.pages-nav {
  font-family: "syne";
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.js .pages-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  padding: 30px;
  pointer-events: none;
  opacity: 0;
  background: transparent;
  -webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
  transition: transform 1.2s, opacity 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: translate3d(0, 150px, 0);
  transform: translate3d(0, 150px, 0);
}

.js .pages-nav--open {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pages-nav__item {
  width: 33%;
  padding: 1em;
}

.js .pages-nav__item {
  padding: 0 10%;
}

.pages-nav .pages-nav__item--social {
  width: 100%;
  opacity: 0;
  -webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
  transition: transform 1.2s, opacity 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

.pages-nav--open .pages-nav__item--social {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.link {
  font-size: 0.9rem;
  font-weight: bold;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.link:hover,
.link:focus {
  color: #58b6c3;
}

.link--page {
  display: block;
  color: #58b6c3;
}

.link--page:not(.link--faded)::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 30px;
  height: 2px;
  margin: 5px 0 0 -15px;
  background: #58b6c3;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
}

.link--page:hover:before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.link--faded {
  color: #8f8f8f;
}

.link--faded:hover,
.link--faded:focus {
  color: #58b6c3;
}

.link--page.link--faded {
  font-size: 0.8rem;
}

.link--social {
  font-size: 1.5em;
  margin: 0 0.75em;
}

.text-hidden {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
  color: transparent;
}

/* Pages stack */

.js .pages-stack {
  z-index: 100;
  pointer-events: none;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% -50%;
  perspective-origin: 50% -50%;
}

.js .page {
  position: relative;
  z-index: 5;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  pointer-events: auto;
  background: #dedede;

  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

.js .pages-stack--open .page {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.45s, opacity 0.45s;
  transition: transform 0.45s, opacity 0.45s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

.js .page--inactive {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
}

/* page content */

.info {
  font-size: 1.25em;
  max-width: 50%;
  margin-top: 1.5em;
}

.poster {
  position: absolute;
  bottom: 4vh;
  left: 60%;
  max-width: 100%;
  max-height: 80%;
}

/* Menu button */

.menu-button {
  position: absolute;
  z-index: 1000;
  top: 23px;
  left: 30px;
  width: 30px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.no-js .menu-button {
  display: none;
}

.menu-button::before,
.menu-button::after,
.menu-button span {
  background: #58B6C3;
}

.menu-button::before,
.menu-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.menu-button span {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 2px;
  text-indent: 200%;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.menu-button::before {
  -webkit-transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
  transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
}

.menu-button::after {
  -webkit-transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
  transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
}

.menu-button--open span {
  opacity: 0;
}

.menu-button--open::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.menu-button--open::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

@media screen and (max-width: 60em) {
  .menu-button {
    width: 25px;
    height: 8px;
    left: 10px;
    top: 22px;
  }
  .info {
    max-width: 100%;
  }
  .poster {
    position: relative;
    top: auto;
    left: auto;
    display: block;
    max-width: 100%;
    max-height: 50vh;
    margin: 0 0 0 50%;
  }
  .pages-nav__item {
    width: 50%;
    min-height: 20px;
  }

  .link--page {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 10px;
  }
  .link--page1 {
    margin-top: 20px;
  }
  .link--social {
    margin: 0 8px;
  }
}

@media screen and (max-width: 40em) {
  .js .pages-nav {
    display: block;
    padding: 10px 20px 0 20px;
    text-align: left;
  }
  .js .pages-nav__item {
    width: 100%;
    padding: 4px 0;
  }
  .js .pages-nav__item--small {
    display: inline-block;
    width: auto;
    margin-right: 14px;
  }
  .pages-nav__item--social {
    font-size: 0.9em;
  }

  .info {
    font-size: 0.85em;
  }
  .poster {
    margin: 1em;
  }
}

/* light blue svg color */
.lightblue_svg {
  filter: invert(68%) sepia(14%) saturate(1414%) hue-rotate(139deg)
    brightness(96%) contrast(82%);
}
.darkblue_svg {
  filter: invert(5%) sepia(31%) saturate(4424%) hue-rotate(206deg)
    brightness(106%) contrast(100%);
}



.radio-toolbar input[type="radio"] {
  opacity: 0;
  width: 0;



}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    width: 96.25px;
    padding-top: 10px ;
    padding-bottom:10px ;
    text-align: center;
    margin-right: 19px;
    border: 3px solid #aba2a23f;
    border-radius: 4px;
}

.radio-toolbar .disable{
  border: 3px dashed #aba2a23f;
  
}

@media only screen and (min-width: 600px) {
  .radio-toolbar label:hover {
    background-color: #58B6C3;
  }

}

.radio-toolbar input[type="radio"]:focus + label {
    border: 3px solid #58C6D4;
}



.radio-toolbar input[type="radio"]:checked + label {
    background-color: #58B6C3;
    border-color: #58C6D4;
}


/* glossy */
.glossy{
  background: rgba(122, 251, 243, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(122, 251, 243, 0.1);
  transition: all 0.09s ease-in-out 0.09s;
  cursor: pointer;
}



